{% extends 'base.html' %}

{% block content %}
{{ super() }}
<p>Метод k -ближайших соседей (KNN)
<form method="POST">
    <p>
        <input class="form_text" placeholder="Рост" name="height" required>
        Рост человека
    </p>

    <p>
        <input class="form_text" placeholder="Вес" name="weight" required>
        Вес человека
    </p>

    <p>
        <input class="form_text" placeholder="Размер обуви" name="shoeSize" required>
        Размер обуви
    </p>

    <input type="submit" class="form_btn" value="Узнать пол">

    <h1>{{class_model}}</h1>
</form>

{% with data=metrics %}
{% include 'includes/metrics.html' %}
{% endwith %}

{% endblock %}